<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        tên<br>
        <input type="text" name="name"><br>
        số điện thoại<br>
        <input type="text" name="sdt"><br>
        ảnh<br>
        <input type="text" name="image"><br>
        địa chỉ<br>
        <input type="text" name="address"><br>
        ngày sinh<br>
        <input type="date" name="birthday"><br>
        <button>Thêm sinh viên</button>
    </form>
</body>
</html>